<h2>Sign up for our newsletter to receive news and special!</h2>
<div class="form_container">
    <form class="form-horizontal newsletter_form" role="form" action="/newsletter" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldName" class="col-auto">Name</label>
            <div class="col-auto col-sm-3">
                <input type="text" class="form-control" id="fieldName" name="name" placeholder="Enter Name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-auto">Email</label>
            <div class="col-auto col-sm-3">
                <input type="email" class="form-control" id="fieldName" name="email" placeholder="Enter Email">
            </div>
        </div>
        <div class="col-auto col-sm-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>